@charset "UTF-8";
body{
	font: normal
		padding:0;
	margin: 0;
	background-color: coral
}
.container{
	
width: 80%;
	margin: auto;
	overflow: hidden;
	}
	
	header{
		background: #35424a;
		color: blue;
			padding-top: 30px;
		min-height: 70px;
		
	}
}